# S1
NET "A(0)" LOC = P44;
NET "A(1)" LOC = P43;
NET "A(2)" LOC = P41;
NET "A(3)" LOC = P40;
NET "A(4)" LOC = P38;

# S2
NET "B(0)" LOC = P35;
NET "B(1)" LOC = P34;
NET "B(2)" LOC = P33;
NET "B(3)" LOC = P32;
NET "B(4)" LOC = P30;

# LED
NET "S(0)" LOC = P10;
NET "S(1)" LOC = P9;
NET "S(2)" LOC = P8;
NET "S(3)" LOC = P7;
NET "S(4)" LOC = P6;
NET "C" LOC = P5;
